.container {
    display: flex;
    flex-direction: column;
    margin: 100px 100px 50px 800px;
    /* margin-top: 200px; */
    width: 500px;
    background: #fff;
    padding-bottom: 30px;
    border-radius: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}

.text {
    color : #c78c06;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background: #c78c06;
    border-radius: 9px;
}

.inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 350px;
    height: 40px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img {
    margin: 0px 30px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.input .dropdown {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: #797979;
    border-radius: 6px;
    padding-left: 5px;
}

.input .dropdown:focus {
    outline: none;
}

.forget-password {
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forget-password span {
    color: #c78c06;;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 30px 80px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: #fff;
    background:#c78c06;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray {
    background: #eaeaea;
    color: #676767;
}